<!DOCTYPE html>
<html>
<link rel = "stylesheet" href ="app/stylesheets/devise.css">
<% if user_signed_in? %>
    <div> Welcome <%= current_user.email %> </div>
    <table id = "menuBar">
        <tr>
            <td>
                <!-- need to add routes-->
                <%= button_to "Browse Catalog"%>
            </td>
            <td>
                <%= button_to "Profile"%>
            </td>
            <!-- collumns will be filled with buttons for other views-->
            <td></td>
            <td></td>
            <td></td>
            <td>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
            </td>
        </tr>
    </table>
    <hr>
    <!-- stuff for independent views begins here-->
<% end %>
</html>