<html>
    <table>
        <tr>
            <td>Name:</td>
            <td><%= current_user.name%></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><%= current_user.Email%></td>
        </tr>
        <tr>
            <td>Status:</td>
            <%if current_user.admin_flag%>
                <td>Admin</td>
            <%elsif current_user.instructor_flag%>
                <td>Instructor</td>
            <%elsif current_user.pending_approval?%>
                <td>Pending Approval</td>
            <%else%>
                <td>Student</td>    
            <%end%>
        </tr>
    </table>
    <!-- Need to add route-->
    <%= button_to "Reset Password"%>
</html>