<h1>Reload Database</h1>

<%= bootstrap_form_tag url: "dashboard", method: :post do |f|%>
    
    <%= f.select :term, ["All Terms", "Spring 2023", "Summer 2023", "Autumn 2023"]%>
    
    <%= f.select :campus, ["All Campuses", "Columbus", "Newark", "Mansfield", "Wooster", "Marion", "Lima"]%>
    
    <%= f.submit "Load Courses" %>

<% end %>