<h1>New Course<h1>
<form action =<%=courses_path%> method="post">
    <label for="name">Course Name: </label>
    <input type="text" id="name" name="name" required><br>

    <label for="number">Course Number: </label>
    <input type="text" id="number" name="number" required><br> 

    <label for="campus">Campus: </label>
    <input type="text" id="campus" name="campus" required><br>

    <label for="term">Term: </label>
    <input type="text" id="term" name="term" required><br>

    <input type="submit" value="Submit">
<form>